PORT=5500
MQTTHOST=tcp://127.0.0.1
MQTTPORT=1883
SocketSession=300000

DB_HOST=localhost
DB_PORT=3306
DB_USER=painter
DB_PASSWORD="im,@*pwd!!?"
DB_DATABASE=openclose
DB_CONNECTION_LIMIT=100

# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
JWT_SECRET="sDfhu3-sDIO-qV-3Zm0dsYf"
JWT_ALGORITHM='RS256'

LOG_LEVEL='debug'
